* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: fantasy;
    margin: 0;
} 

.header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: fantasy;
    margin: 15px 0;
}
    .nav {
        font-size: 14px;
    }
    .nav__link {
        display: inline-block;
        vertical-align: top;
        color: black;
        text-decoration: none;
        transition: color .2s linear;
        margin: 0 15px;
    }
    .nav__link:hover {
        color: #ff6633;
        text-decoration: underline;
    }
    .call {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .call__button {
        background: transparent;
        color: #f54c5a;
        border: 1px solid #f54c5a;
        padding: 10px 25px;
        font-size: 14px;
        font-family: fantasy;
        text-align: center;
        margin: 0 20px;
    }
    .call__button:hover {
        background-color: #f54c5a;
        color: #fff;
        transition: .4s;
    }


.intro {
    background-color: #fbfbfb;
    width: 100%;
    height: 575px;
    display: flex;
    justify-content: stretch;
    align-items: center;
}
    .intro__info {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin: 0 0 0 20%;
    }
    .intro__button {
        background: #ff4e2e;
        color: #fff;
        border: 1px solid #ff4e2e;
        padding: 15px 50px;
        font-size: 15px;
        font-family: fantasy;
        text-align: center;
        margin: 15px 0;
    }
    .intro__button:hover {
        background-color: #fff;
        color: #ff4e2e;
        transition: .4s;
    }
    .intro__info__name {
        font-size: 60px;
        font-weight: 700;
        margin: 5px 0;
    }
    .intro__info__job {
        font-weight: 400;
        color: #9c9c9c;
        margin: 5px 0;
    }
    .intro__image {
        display: block;
        max-width: 100%;
        height: 100%;
    }


.services {
    background-color: #fff;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
    .services__article {
        font-size: 30px;
        font-weight: 700;
        margin: 5px 0;
    }
    .services__types {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2vw;
    }
    .services__types__h {
        display: flex;
        justify-content: center;
        font-weight: 400;
        color: #9c9c9c;
        margin: 5px 0;
    }
    .services__button {
        background: #ff4e2e;
        color: #fff;
        border: 1px solid #ff4e2e;
        padding: 15px 50px;
        font-size: 15px;
        font-family: fantasy;
        text-align: center;
        margin: 15px 0;
    }
    .services__button:hover {
        background-color: #fff;
        color: #ff4e2e;
        transition: .4s;
    }


.portfolio {
    background-color: #fbfbfb;
    width: 100%;
    height: 675px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
    .portfolio__article {
        font-size: 28px;
        font-weight: 800;
        margin: 5px 0;
    }
    .portfolio__types {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2vw;
    }
    .portfolio__types__h {
        display: flex;
        justify-content: center;
        font-weight: 400;
        color: #9c9c9c;
        margin: 5px 0;
    }
    .portfolio__button {
        background: #ff4e2e;
        color: #fff;
        border: 1px solid #ff4e2e;
        padding: 15px 50px;
        font-size: 15px;
        font-family: fantasy;
        text-align: center;
        margin: 15px 0;
    }
    .portfolio__button:hover {
        background-color: #fff;
        color: #ff4e2e;
        transition: .4s;
    }


.bottom {
    background-color: #ff4e2e;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
    .bottom__first {
        width: 800px;
        font-size: 25px;
        color: #fff;
        font-weight: 700;
    }
    .bottom__second {
        width: 600px;
        font-size: 15px;
        font-weight: 100;
        color: #f5f5f5;
        font-weight: 300;
        margin-left: -200px;
    }


.footer {
    background-color: #fff;
    font-family: fantasy;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
    .footer__nav {
        font-size: 16px;
    }
    .footer__nav__link {
        display: flex;
        vertical-align: top;
        color: #8993ad;
        text-decoration: none;
        transition: color .2s linear;
        margin: 10px 15px;
    }
    .footer__nav__link:hover {
        color: #ff6633;
    }
    .footer__contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .footer__contacts__number, .footer__contacts__email {
        display: flex;
        margin: 12px 0;
    }
    .footer__contacts__h {
        margin: 0 15px;
    }
    .footer__social__button {
        background: transparent;
        color: #f54c5a;
        border: 1px solid #f54c5a;
        padding: 10px 50px;
        font-size: 15px;
        font-family: fantasy;
        text-align: center;
        margin: 10px 0;
    }
    .footer__social__button:hover {
        background-color: #f54c5a;
        color: #fff;
        transition: .4s;
    }
    .footer__social__icons {
        margin: 5px 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

.copyright {
    background-color: #31293c;
    color: #fff;
    font-family: fantasy;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media only screen and (min-width: 1200px) {
.header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: fantasy;
    margin: 15px 0;
}
    .nav {
        font-size: 14px;
    }
    .nav__link {
        display: inline-block;
        vertical-align: top;
        color: black;
        text-decoration: none;
        transition: color .2s linear;
        margin: 0 15px;
    }
    .nav__link:hover {
        color: #ff6633;
        text-decoration: underline;
    }
    .call {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .call__button {
        background: transparent;
        color: #f54c5a;
        border: 1px solid #f54c5a;
        padding: 10px 25px;
        font-size: 14px;
        font-family: fantasy;
        text-align: center;
        margin: 0 20px;
    }
    .call__button:hover {
        background-color: #f54c5a;
        color: #fff;
        transition: .4s;
    }


.intro {
    background-color: #fbfbfb;
    width: 100%;
    height: 575px;
    display: flex;
    justify-content: stretch;
    align-items: center;
}
    .intro__info {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin: 0 0 0 20%;
    }
    .intro__button {
        background: #ff4e2e;
        color: #fff;
        border: 1px solid #ff4e2e;
        padding: 15px 50px;
        font-size: 15px;
        font-family: fantasy;
        text-align: center;
        margin: 15px 0;
    }
    .intro__button:hover {
        background-color: #fff;
        color: #ff4e2e;
        transition: .4s;
    }
    .intro__info__name {
        font-size: 60px;
        font-weight: 700;
        margin: 5px 0;
    }
    .intro__info__job {
        font-weight: 400;
        color: #9c9c9c;
        margin: 5px 0;
    }
    .intro__image {
        display: block;
        max-width: 100%;
        height: 100%;
    }


.services {
    background-color: #fff;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
    .services__article {
        font-size: 30px;
        font-weight: 700;
        margin: 5px 0;
    }
    .services__types {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2vw;
    }
    .services__types__h {
        display: flex;
        justify-content: center;
        font-weight: 400;
        color: #9c9c9c;
        margin: 5px 0;
    }


.portfolio {
    background-color: #fbfbfb;
    width: 100%;
    height: 675px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
    .portfolio__article {
        font-size: 28px;
        font-weight: 800;
        margin: 5px 0;
    }
    .portfolio__types {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2vw;
    }
    .portfolio__types__h {
        display: flex;
        justify-content: center;
        font-weight: 400;
        color: #9c9c9c;
        margin: 5px 0;
    }


.bottom {
    background-color: #ff4e2e;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
    .bottom__first {
        font-size: 25px;
        color: #fff;
        font-weight: 700;
    }
    .bottom__second {
        font-size: 15px;
        font-weight: 100;
        color: #f5f5f5;
        font-weight: 300;
        margin-left: -200px;
    }


.footer {
    background-color: #fff;
    font-family: fantasy;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
    .footer__nav {
        font-size: 16px;
    }
    .footer__nav__link {
        display: flex;
        vertical-align: top;
        color: #8993ad;
        text-decoration: none;
        transition: color .2s linear;
        margin: 10px 15px;
    }
    .footer__nav__link:hover {
        color: #ff6633;
    }
    .footer__contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .footer__contacts__number, .footer__contacts__email {
        display: flex;
        margin: 12px 0;
    }
    .footer__contacts__h {
        margin: 0 15px;
    }
    .footer__social__button {
        background: transparent;
        color: #f54c5a;
        border: 1px solid #f54c5a;
        padding: 10px 50px;
        font-size: 15px;
        font-family: fantasy;
        text-align: center;
        margin: 10px 0;
    }
    .footer__social__button:hover {
        background-color: #f54c5a;
        color: #fff;
        transition: .4s;
    }
    .footer__social__icons {
        margin: 5px 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

.copyright {
    background-color: #31293c;
    color: #fff;
    font-family: fantasy;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
}

@media only screen and (max-width: 1170px) { 
.portfolio {
    height: 1000px;
}
    .portfolio__types {
        grid-template-rows: 2;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 905px) {
.intro {
    height: 600px;
    flex-flow: column-reverse;
}
    .intro__info {
        flex-direction: column;
        margin: 0;
    }
    .intro__button {
        padding: 10px 45px;
        margin: 15px 0 15px 85px;
    }
    .intro__info__name {
        font-size: 40px;
    }
    .intro__info__job {
        font-size: 18px;
    }
    .intro__image {
        max-width: 100%;
        height: 80%;
    }

.services {
    height: 600px;
}
    .services__article {
        font-size: 25px;
    }
    .services__types {
        column-count: 2;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px 50px;
    }
    .services__button {
        padding: 10px 45px;
    }

.bottom {
    height: 250px;
}
    .bottom__first {
        font-size: 18px;
        margin-left: 60px;
    }
    .bottom__second {
        width: 600px;
        font-size: 14px;
        margin-left: -125px;
    }
}

@media only screen and (max-width: 770px) {
.portfolio {
    height: 1300px;
}
    .portfolio__article {
        font-size: 20px;
    }
    .portfolio__types {
        grid-template-rows: 3;
        grid-template-columns: 1fr;
        grid-gap: 20px 0;
    }
    .portfolio__button {
        padding: 10px 50px;
    }

.bottom {
    height: 250px;
}
    .bottom__first {
        width: 700px;
        font-size: 14px;
        margin-left: 75px;
    }
    .bottom__second {
        width: 500px;
        font-size: 14px;
        margin-left: -125px;
    }
}

@media only screen and (max-width: 640px) {
.header {
    margin: 20px 0;
    flex-direction: column;
}
    .call__number {
        margin-top: 10px;
        font-size: 16px;
    }
    .call__button {
        padding: 8px 17px;
        margin: 10px 20px;
    }

.bottom {
    height: 200px;
}
    .bottom__first {
        width: 600px;
        font-size: 12px;
        margin-left: 75px;
    }
    .bottom__second {
        width: 400px;
        font-size: 12px;
        margin-left: -125px;
    }

.footer {
    height: 300px;
    flex-direction: column;
}
    .footer__nav {
        font-size: 16px;
        display: flex;
        flex-direction: row;
    }
    .footer__contacts__h {
        margin: 0 15px;
        font-size: 16px;
    } 
}

@media only screen and (max-width: 565px) {
.bottom {
    height: 180px;
}
    .bottom__first {
        width: 475px;
        font-size: 12px;
        margin-left: 5px;
    }
    .bottom__second {
        width: 400px;
        font-size: 12px;
        margin-left: -75px;
    }
}

@media only screen and (max-width: 475px) {
.intro {
    height: 500px;
}
    .intro__button {
        margin: 15px 0 15px 50px;
    }
    .intro__info__name {
        font-size: 30px;
    }
    .intro__info__job {
        font-size: 15px;
    }

.services {
    height: 850px;
}
    .services__article {
        font-size: 20px;
    }
    .services__types {
        column-count: 4;
        grid-template-columns: 1fr;
        grid-gap: 30px 30px;
    }

.bottom {
    height: 180px;
}
    .bottom__first {
        width: 425px;
        font-size: 11px;
        margin-left: 70px;
    }
    .bottom__second {
        width: 375px;
        font-size: 10px;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 375px) {
.portfolio {
    height: 1100px;
}
    .portfolio__article {
        font-size: 15px;
    }
    .portfolio__types {
        grid-template-rows: 3;
        grid-template-columns: 1fr;
        grid-gap: 20px 0;
    }
    .portfolio__types img {
        width: 300px;
    }

.bottom {
    height: 180px;
}
    .bottom__first {
        width: 320px;
        font-size: 11px;
        margin-left: 5px;
    }
    .bottom__second {
        width: 320px;
        font-size: 10px;
        margin-left: 5px;
    }
}

@media only screen and (max-width: 320px) {
    .bottom {
        height: 180px;
    }
        .bottom__first {
            width: 300px;
            margin-left: 25px;
        }
        .bottom__second {
            width: 280px;
            margin-left: 15px;
        }
}